header {
	background-color: blueviolet;
	padding: 25px;
	position: fixed;
	width: 100%;
	top: 0;
}

nav li {
	padding-right: 50px;
	display: inline-block;
	font-size: 50px;
}

header a {
	text-decoration: none;
	color: white;
}



footer {
    background-color: blueviolet;
    color: white;
}

footer a {
    text-decoration:none;
    color:white;
}

footer li {
    display: inline-block;
    padding: 10px;
}
